<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>untitled1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,125}</string>
                <key>spriteSourceSize</key>
                <string>{121,125}</string>
                <key>textureRect</key>
                <string>{{637,1},{121,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>untitled2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,125}</string>
                <key>spriteSourceSize</key>
                <string>{125,125}</string>
                <key>textureRect</key>
                <string>{{130,1},{125,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>untitled3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,125}</string>
                <key>spriteSourceSize</key>
                <string>{125,125}</string>
                <key>textureRect</key>
                <string>{{257,1},{125,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>untitled4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,125}</string>
                <key>spriteSourceSize</key>
                <string>{125,125}</string>
                <key>textureRect</key>
                <string>{{384,1},{125,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>untitled5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,125}</string>
                <key>spriteSourceSize</key>
                <string>{124,125}</string>
                <key>textureRect</key>
                <string>{{511,1},{124,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>untitled6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,125}</string>
                <key>spriteSourceSize</key>
                <string>{127,125}</string>
                <key>textureRect</key>
                <string>{{1,1},{127,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sprite.pvr.ccz</string>
            <key>size</key>
            <string>{759,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e04eea8e1daef87e2b00d9c5b484b097:1fd2411125ae19a1e1d0f580b69f2a60:1687d53b4a7f700120eaeea9139edf62$</string>
            <key>textureFileName</key>
            <string>sprite.pvr.ccz</string>
        </dict>
    </dict>
</plist>
